button:focus {
  outline: none;
}


#container{
  margin: 0 auto;
  line-height: 0;
  width: 960px;
  height: 960px;
  background-color: #ccc;
}
.cell{
  margin: 1px;
  background-color: #000;
  width: 58px;
  height: 58px;
  display: inline-block;
  opacity: 0.1;
}

#reset{
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 40px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
  #reset:hover{
    background-color: red;
  }
